/.settings/
/.project
/.idea/

*.iml
*.class

# Maven build output
target/
/connectors/*/target/classes
/connectors/*/target/generated-sources
/connectors/*/target/test-classes

# OS files
/.DS_Store

# Site fonts
site/fonts/
/distribution/target
